
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>One-piece-Chap 1</title>

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' type='text/javascript'></script>
    <script type='text/javascript'>
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#bttop').fadeIn();
                } else {
                    $('#bttop').fadeOut();
                }
            });
            $('#bttop').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
            });
        });
    </script>

    <style>
        li {
            list-style: none;
            display: inline-block;
        }

        img#banner {
            border-radius: 15px;
            margin-left: 430px;
        }

        p#banner-1 {
            font-family: 'Agency FB';
            margin-left: 660px;
            font-size: 20px;
            color: white;
        }

        body {
            background-color: black;
        }

        .btn-primary {
            color: #fff;
            background-color: #dc5826;
            border-color: #337ab7;
        }

        button#btnselect {
            margin-left: 650px;
        }

        a#pre {
            background-color: #0c6fb5;
            border-color: #0e0e0e;
            color: white;
        }

        a#next {
            background-color: #0c6fb5;
            border-color: #0e0e0e;
            color: white;
        }

        #view {
            margin: 10px auto;
            min-height: 600px;
            height: auto;
            text-align: center;
        }

        #bttop {
            border: 1px solid #4adcff;
            background: #24bde2;
            text-align: center;
            padding: 5px;
            position: fixed;
            bottom: 35px;
            right: 10px;
            cursor: pointer;
            display: none;
            color: #fff;
            font-size: 11px;
            font-weight: 900;
        }

            #bttop:hover {
                border: 1px solid #ffa789;
                background: #ff6734;
            }
    </style>
</head>

<body>

    <div>
        <div id='cssmenu'>
            <ul>
                <li class='active'><a href='@Url.Action("Index","Home")'><span>Trang chủ</span></a></li>


            </ul>
        </div>
    </div>
    <div>
        <img id="banner" src="~/banner/narutobanner.gif" width="700" height="250" />
    </div>
    <div>
        <p id="banner-1">Hiện tại bạn đang đọc Naruto</p>
    </div>
    <div>
        <ul id="bannerul">
            <li id="li1">
                <div class="container">
                    <div class="dropdown">
                        <button id="btnselect" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Chọn chap truyện
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a id="achap1" href="#">Chap 1</a></li>
                            <br />


                        </ul>
                    </div>
                </div>
            </li>






        </ul>
    </div>
    <div>
        <div class="container1">
            <ul class="pager">
                <li class="previous"><a id="pre" href="#">Chap trước</a></li>
                <li class="next"><a id="next" href="#">Chap tiếp theo</a></li>
            </ul>
        </div>
    </div>
    <div id="view">
        <img src="~/naruto/chap 1/naruto-002.jpg" />
        <br />
        <img src="~/naruto/chap 1/naruto-003.jpg" />
        <br />
        <img src="~/naruto/chap 1/naruto-004.jpg" />
        <br />
        <img src="~/naruto/chap 1/naruto-005.jpg" />
        <br />





    </div>
    <div id='bttop'>Quay lại trang đầu</div>


</body>
</html>

